*{
    margin: 0;
    padding: 0;
    /* margin-left: 8px;
      background-color: black;*/
} 

body{
    /* width: 100%; */
    height: 100vh;
    /* overflow-y: hidden; */
}
#container{
    
    width: 80%;
    height: 100%;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
}
#container1{
    
    width: 50%;
    height: 100%;
    background-image: url('leaf.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: inherit;
}
#container2{
    background-color: #00000063;
    height: 100px;
    width: 100%;
    position: relative;
    top: 105px;
    /* width:fit-content; */
}
#container3{
    /* background-image: url('logo.png'); */
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    cursor: pointer;
    /* width: 70px; */
    width: 546px;
    height: 70px;
}

#h2{
    font-size: 16px;
  /* display: flex; */
  position: relative;
  right: -509px;
  /* top: -290; */
  color: rgb(0, 0, 0);
  height: auto;
  width: auto;
    left: 18px;

}

#h3{
    font-size: 13px;
    display: flex;
    position: relative;
    right: -504px;
    /* top: -290; */
    color: rgb(0, 0, 0);
    height: auto;
    width: 444px;
    left: 15px;
}
#frm{
    size-adjust: 16px;
}
.logo{
    display: flex;
    position: relative;
    right: -178px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Martian+Mono:wght@800&family=Mooli&display=swap');
#h1{
    display: flex;
    position: relative;
    right: -178px;
  top: 24px;
  color: rgb(71, 161, 63);

  font-family: 'Caveat', cursive;
font-family: 'Martian Mono', monospace;
font-family: 'Mooli', sans-serif;
}
#f1{
    position: relative;
    top: 0px;
  left: 14px;
}
#f2{
    position: relative;
    right: -267px;
    top: -58px;
}


#f3{
    position: relative;
    right: -14px;
    top: -58px;
  }
#f4{
    position: relative;
    right: -267px;
    top: -134px;
}
#f5{
    position: relative;
    right: -14px;
  top: -135px;
}
#f6{
    position: relative;
    right: -267px;
    top: -211px;
}
.size{
    padding: 10px;
}
#f7{
    position: relative;
    right: -496px;
    top: -197px;
    padding: 10px ;
    left: 4px;
    
}
.btnsize{
    padding: 17px;
}






body{
   
    background-image: linear-gradient(grey , white , grey);
}




/* fieldset */
#box{
    box-shadow: 3px 3px;
}

#foto{
    position: relative;
    right: -157px;
  top: -18px;
}



